*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: blue;
}
body{
    transition: all 0.3s ease;
}
body.dark-mode{
    background-color: black;
    color: white;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}



.circle-container{
    border: 1px solid black;
    border-radius: 50%;
    width: 450px;
    height: 450px;
}
.circle-container.dark-mode{
    border: 5px solid white;
}
.timer-container{
    width:330px;
    height: 200px;
}
.timer{
    width: 400px;
    height: 100px;
}

.timer div{
    font-size: 70px;
    font-weight: 100;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;

}


.timer .colon{
    background-color: transparent;
    width: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 15px;
    color: black;
}
.colon.dark-mode{
    color: blue;
}
.button-div{
    margin-top: 10px;
}
.button{
    padding-right: 50px;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    margin-left: 5px;
    background: linear-gradient(45deg, rgba(0, 0, 139, 0.7) 0%, rgba(10, 10, 158, 0.7) 20%, rgba(30, 144, 255, 0.7) 50%, rgba(108, 166, 205, 0.7) 75%, rgba(65, 105, 225, 0.7) 100%);
    color: black;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}
.button:hover{
    background: black;
    color: white;
    transition: backgorund,color 0.3s;
}
.button.dark-mode{
    background-color: blue;
}
.button.dark-mode:hover{
    background: white;
    color: black;
    transition: backgorund,color 0.3s;
}
.button-back{
    padding-right: 50px;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    margin-left: 5px;
    background-color:red;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}


@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {

    .circle-container{
        background-color: black;
        border: 1px solid white;
        color: white;
        border-radius: 50%;
        width: 400px;
        height: 400px;
        margin-top: 10px;
        
    }    
    .button-div{
        margin-top: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }

}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .circle-container{
        background-color: black;
        border: 1px solid white;
        color: white;
        border-radius: 50%;
        width: 400px;
        height: 400px;
        margin-top: 10px;
        
    }    
    .button-div{
        margin-top: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }

}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    .circle-container{
        background-color: black;
        border: 1px solid white;
        color: white;
        border-radius: 50%;
        width: 400px;
        height: 400px;
        margin-top: 10px;
        
    }    
    .button-div{
        margin-top: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }


}